<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/success.css" th:href="@{/css/success.css}">
    <title>Success</title>
</head>
<body>
    
    <div class="WhiteBox">

        <table id="links" class="Links">
            <thead>
                <tr>
                    <th><a href="./Home.html">Home</a></th>
                    <th><a href="/rectangle">Add a Rectangle</a></th>
                    <th><a href="/View">View all Rectangles</a></th>
                </tr>
            </thead>
        </table>

        <div class="GreyBox">
            <h3>Rectangle Deleted Successfully!</h3>

            <input type="button" class="btn" value="Add another rectangle" onclick="location.href='/rectangle'">    <input type="button" class="btn" value="View your rectangles" onclick="location.href='/View'">
        </div>

    </div>


    
</body>
</html>